
.search {
	position: absolute;
	right: 20px;
	top: 20px;
}

.search .search-icon {
	position: absolute;
	left: 16px;
	top: 12px;
}

.search input[type="text"] {
	display: block;
	margin: 0;
	width: 100%;
	font-family: 'BrandonText Bold';
	font-size: 16px;
	color: #fff;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	width: 115px;

}

.search input[type="text"]:focus {
  outline: none;
}

.search input[type="text"] {
  padding: 10px 12px 10px 43px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}
