.image img {
	min-width: 100%;
	position: relative;
}

.image {
	position: relative;
	overflow: hidden;
	line-height: 206px;
	height: 206px;
	width: 206px;
	float: left;
	display: block;
	background-color: #C1C9D5;
	object-fit: cover;
	object-position: 0 0;
}

.image .no-image {
	color: #FFF;
	font-size: 26px;
	font-family: 'BrandonText Medium';
	text-align: center;
}
